.styleButton {
    color: black;
    cursor: pointer;
    margin-right: 16px;
    padding: 2px 5px;
    display: inline-block;
    background-color: lightgray;
}

.activeButton {
    color: #5890ff;
  }